body {
    background-color: rgb(16, 16, 16) ;
    color: white;
}


@font-face {
    font-family: "Elterritorio";
    src: url(/home/plasma/plasma2/mad_hacker/gfagadf.otf);
}
@font-face {
    font-family: "bitty";
    src: url(/home/plasma/plasma2/modern_dos/ModernDOS8x8.ttf);
}
h1 {
    font-family: "Elterritorio";
    color: rgb(255, 0, 0);
    font-size: 70px;
    background: rgba(0, 0, 0, 0.339);
    border-radius: 30px;
    text-align: center;
}
div {
    font-family: "bitty";
    text-align: center;
    color: #D61413;
    font-size: xx-large;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

pre {
    color: white;
    text-align: center;
    font-size: xx-large;
}

span {
    font-family: "bitty";
    color: aqua;
    font-size: 45;
}
span1 {
    color: #D61413;
    font-family: bitty;
    font-size: 40px;
}

img {
    border-radius: 5%;
    max-width: 50%;
}

a {
    color: rgb(226, 43, 43);
    font-family: 'bitty';
    font-size: xx-large;
}
